<body class="screen">
<%=erb :_navbar, locals: {user: @user}%>

<div id="<%=@user.id%>" class="profile_content goals">
  <h1 id="my_goals">My Goals<h1>
  <ul>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-check-square-o"></i></a>&nbsp Attend Dev Bootcamp</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Milk A Cow</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Save A Life</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Ride In A Submarine</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Play With Baby Pandas</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Volunteer at An Animal Shelter</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp See the Northern Lights Aurora</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Watch Ellen DeGeneres Show Live</li>
    <li><a href="/users/<%=@user.id%>/completes"><i class="fa fa-square-o"></i></a>&nbsp Stand On Top Of Empire State Building</li>

  </ul>
</div>

<div class="profile_content new">
  <h1 class="username">WILLIAM</h1>
  <div data-id="<%=@user.id%>" class="info">
    <ul>
      <li class="goal">Goals</br> 9</li>
      <li class="completed">Completed 1</li>
      <li><a class="followings" href="/users/<%=@user.id%>/followings">Following</a> <a class="hidefollowings" href="/users/<%=@user.id%>/followings/delete"><%=@user.followees.count%></a></li>
      <li><a class="followers" href="/users/<%=@user.id%>/followers">Followers</a> <a class="hidefollowers" href="/users/<%=@user.id%>/followers/delete"><%=@user.followers.count%></a></li>
    </ul>
    <a href="/users/<%=@user.id%>/goals/new"><button class="add">Add Goal</button></a>
  </div>

  <form></form>


</div>

</body>